/* Palitra */
:root {
	--bg-color-dark: #38383d;
	--bg-color-gray: #3e3e42;
	--bg-color-light: #57575b;
	--bg-color-blue: #a3c5df;

	--color-dark: #555;
	--color-gray: #848282;
	--color-light: #ddd;

	--color-blue: #467daa;

	--color-red: #c82c2c;
}

/* Common */
.jwac.pub-bi12.docClass-11 .contextTtl,
.jwac.pub-bi12.docClass-11 h1,
.jwac.pub-bi12.docClass-116 .contextTtl,
.jwac.pub-bi12.docClass-116 h1,
.jwac.pub-bi12.docClass-12 .contextTtl,
.jwac.pub-bi12.docClass-12 h1,
.jwac.pub-bi12.docClass-125 .contextTtl,
.jwac.pub-bi12.docClass-125 h1,
.jwac.pub-bi12.docClass-13 .contextTtl,
.jwac.pub-bi12.docClass-13 h1,
.jwac.pub-bi12.docClass-14 .contextTtl,
.jwac.pub-bi12.docClass-14 h1,
.jwac.pub-bi7.docClass-11 .contextTtl,
.jwac.pub-bi7.docClass-11 h1,
.jwac.pub-bi7.docClass-116 .contextTtl,
.jwac.pub-bi7.docClass-116 h1,
.jwac.pub-bi7.docClass-12 .contextTtl,
.jwac.pub-bi7.docClass-12 h1,
.jwac.pub-bi7.docClass-125 .contextTtl,
.jwac.pub-bi7.docClass-125 h1,
.jwac.pub-bi7.docClass-13 .contextTtl,
.jwac.pub-bi7.docClass-13 h1,
.jwac.pub-bi7.docClass-14 .contextTtl,
.jwac.pub-bi7.docClass-14 h1,
.jwac.pub-igw.docClass-11 .contextTtl,
.jwac.pub-igw.docClass-11 h1,
.jwac.pub-igw.docClass-116 .contextTtl,
.jwac.pub-igw.docClass-116 h1,
.jwac.pub-igw.docClass-12 .contextTtl,
.jwac.pub-igw.docClass-12 h1,
.jwac.pub-igw.docClass-125 .contextTtl,
.jwac.pub-igw.docClass-125 h1,
.jwac.pub-igw.docClass-13 .contextTtl,
.jwac.pub-igw.docClass-13 h1,
.jwac.pub-igw.docClass-14 .contextTtl,
.jwac.pub-igw.docClass-14 h1,
.jwac.pub-nwt.docClass-11 .contextTtl,
.jwac.pub-nwt.docClass-11 h1,
.jwac.pub-nwt.docClass-116 .contextTtl,
.jwac.pub-nwt.docClass-116 h1,
.jwac.pub-nwt.docClass-12 .contextTtl,
.jwac.pub-nwt.docClass-12 h1,
.jwac.pub-nwt.docClass-125 .contextTtl,
.jwac.pub-nwt.docClass-125 h1,
.jwac.pub-nwt.docClass-13 .contextTtl,
.jwac.pub-nwt.docClass-13 h1,
.jwac.pub-nwt.docClass-14 .contextTtl,
.jwac.pub-nwt.docClass-14 h1,
.jwac.pub-nwths.docClass-11 .contextTtl,
.jwac.pub-nwths.docClass-11 h1,
.jwac.pub-nwths.docClass-116 .contextTtl,
.jwac.pub-nwths.docClass-116 h1,
.jwac.pub-nwths.docClass-12 .contextTtl,
.jwac.pub-nwths.docClass-12 h1,
.jwac.pub-nwths.docClass-125 .contextTtl,
.jwac.pub-nwths.docClass-125 h1,
.jwac.pub-nwths.docClass-13 .contextTtl,
.jwac.pub-nwths.docClass-13 h1,
.jwac.pub-nwths.docClass-14 .contextTtl,
.jwac.pub-nwths.docClass-14 h1,
.jwac.pub-nwtsty.docClass-11 .contextTtl,
.jwac.pub-nwtsty.docClass-11 h1,
.jwac.pub-nwtsty.docClass-116 .contextTtl,
.jwac.pub-nwtsty.docClass-116 h1,
.jwac.pub-nwtsty.docClass-12 .contextTtl,
.jwac.pub-nwtsty.docClass-12 h1,
.jwac.pub-nwtsty.docClass-125 .contextTtl,
.jwac.pub-nwtsty.docClass-125 h1,
.jwac.pub-nwtsty.docClass-13 .contextTtl,
.jwac.pub-nwtsty.docClass-13 h1,
.jwac.pub-nwtsty.docClass-14 .contextTtl,
.jwac.pub-nwtsty.docClass-14 h1,
.jwac.pub-sgd.docClass-11 .contextTtl,
.jwac.pub-sgd.docClass-11 h1,
.jwac.pub-sgd.docClass-116 .contextTtl,
.jwac.pub-sgd.docClass-116 h1,
.jwac.pub-sgd.docClass-12 .contextTtl,
.jwac.pub-sgd.docClass-12 h1,
.jwac.pub-sgd.docClass-125 .contextTtl,
.jwac.pub-sgd.docClass-125 h1,
.jwac.pub-sgd.docClass-13 .contextTtl,
.jwac.pub-sgd.docClass-13 h1,
.jwac.pub-sgd.docClass-14 .contextTtl,
.jwac.pub-sgd.docClass-14 h1,
.jwac.pub-igw.docClass-11 .groupTOC > .source .txtSrcBullet,
.jwac.pub-nwt.docClass-11 .groupTOC > .source .txtSrcBullet,
.jwac.pub-nwtsty.docClass-11 .groupTOC > .source .txtSrcBullet {
	color: var(--color-red);
}


/* Body */
body {
	background: var(--bg-color-dark) !important;
	color: var(--color-light) !important;
}

/* Header. 1st line */
#siteBanner {
	background: var(--bg-color-gray) !important;
	color: var(--color-light) !important
}

/* Header. Toolbar (Search...)  */
#toolbarFrame {
	background: var(--bg-color-dark) !important;
	color: var(--color-light) !important
}

#toolbarFrame .searchField {
	background: var(--bg-color-dark) !important;
	color: var(--color-light) !important
}

#toolbarFrame .searchFieldContainer,
#toolbarFrame .searchButton {
	background: var(--bg-color-dark) !important;
	color: var(--color-light) !important;
	border-color: var(--color-gray) !important;
}

#toolbarFrame .searchButton:hover {
	border-color: var(--color-blue) !important;
	color: var(--color-blue) !important;
}

/* Header. Publication nav */
#publicationNavigation {
	background: var(--bg-color-dark) !important;
	color: var(--color-light) !important;
	border-top: 1px solid var(--color-dark) !important;
}

.resultDocumentPubTitle,
.scrollPositionDisplay {
	color: var(--color-light) !important;
}

/* Header. Main tabs */
#toolbarFrame #menuFrame,
#toolbarFrame #menuFrame .label {
	background: var(--bg-color-dark) !important;
	color: var(--color-light) !important
}

#toolbarFrame #menuFrame .selected .label,
#toolbarFrame #menuFrame a:hover .label {
	color: var(--color-blue) !important
}

#menuBible .icon,
#menuPublications .icon,
#menuToday .icon {
	background-position-x: -96px;
}

/* Header. Player */
#playerwrapper .mejs-container .mejs-controls {
	background: var(--bg-color-light) !important;
	color: var(--color-light) !important;
}

#playerwrapper .mejs-button {
	opacity: 0.5;
}

#playerplaylist {
	background: var(--bg-color-gray) !important;
	color: var(--color-light) !important;
	border-color: var(--color-dark) !important
}

#playerplaylist .mediaTitle {
	color: var(--color-blue) !important;
}

/* Content. Welcome */
#home,
#article,
.materialNav {
	background: var(--bg-color-gray) !important;
	color: var(--color-light) !important
}

#home .siteTitleLine1.dark,
#home .siteAbout {
	color: var(--color-light) !important
}

/* Content */
#content {
	background: var(--bg-color-gray) !important;
	color: var(--color-light) !important;
}

#dailyText,
.tabContent,
.articlePositioner,
.todayItems,
.todayItem {
	background: var(--bg-color-gray) !important;
	color: var(--color-light) !important;
	border-color: var(--color-gray) !important;
}

/* Content. Left sitebar */
#secondaryNavContent {
	background: var(--bg-color-gray) !important;
	color: var(--color-light) !important;
	border-right: 1px solid var(--color-gray) !important;
}

.navigationTabs,
.navigationTabs .tabItem {
	background: var(--bg-color-gray) !important;
	color: var(--color-light) !important;
}

.navigationTabs .tabItem.active {
	background: var(--bg-color-light) !important;
}

#secondaryNavContent .resultsNavigationSelected .navContent {
	color: var(--color-gray) !important;
}

.simDoc:hover a,
.subheading:hover {
	background: var(--bg-color-light) !important;
}

.linkCard a {
	background: var(--bg-color-gray) !important;
	border: 1px solid var(--color-dark) !important;
}

/* Content. Bible */
.resultAlternatePubTitle,
.materialNav .card {
	border-bottom: 1px solid var(--color-gray) !important;
}

.cardTitleBlock {
	color: var(--color-light) !important;
}

.cardTitleBlock:hover {
	color: var(--color-blue) !important;
}

.resultAlternatePubTitle .lnk .cardChevron .icon,
.materialNav .card .lnk .cardChevron .icon {
	background-position-x: -96px;
}

.resultAlternatePubTitle:hover .lnk .cardChevron .icon,
.materialNav .card:hover .lnk .cardChevron .icon {
	background-position-x: 0px;
}

.pageList,
.viewPage {
	border-color: var(--color-gray) !important;
}

.viewPage.selected,
.viewPage.selected .title {
	border-color: var(--color-blue) !important;
	color: var(--color-light) !important;
}

.viewPage:hover,
.viewPage:hover a {
	background: var(--bg-color-light) !important;
}

.gridItem,
.gridItem a {
	color: var(--color-light) !important;
	border-color: var(--color-gray) !important;
}

.gridItem:hover,
.gridItem:hover a {
	overflow: hidden !important;
	background: var(--bg-color-light) !important;
	border-color: var(--color-blue) !important;
}

.helpChap {
	color: var(--color-light) !important;
}

.backNav .contextTtl {
	color: var(--color-blue) !important;
}

.bibleBookOutline {
	border-color: var(--color-gray) !important;
}

.bibleAdditionalLinks a {
	color: var(--color-light) !important;
}

.bibleAdditionalLinks li:hover,
.bibleAdditionalLinks li:hover a {
	background: var(--bg-color-light) !important;
}

/* Content. View setting, Bible view type */
#bibleChapterView,
#documentMenuButton {
	background: var(--bg-color-light) !important;
	border: 1px solid var(--color-gray) !important;
}

#documentMenuButton .icon {
	background-position-x: -96px !important;
}

#bibleChapterView:hover,
#documentMenuButton:hover {
	border: 1px solid var(--color-blue) !important;
}

#documentMenuButton:hover .icon {
	background-position-x: 0px;
}

.documentMenu {
	border: 1px solid var(--color-dark) !important;
	background: var(--bg-color-gray) !important;
	color: var(--color-light) !important;
}

.spinContainer button {
	border: 1px solid var(--color-gray) !important;
	background: var(--bg-color-gray) !important;
}

/* Content. Nav-controls (<< < today/week > >>) */
.resultNavControls li a {
	border: 1px solid var(--color-gray) !important;
	background: var(--bg-color-light) !important;
	color: var(--color-light) !important;
}

.resultNavControls li:hover a {
	border-color: var(--color-blue) !important;
	color: var(--color-blue) !important;
}

.resultNavControls li a .icon {
	background-position-x: -96px !important;
}

.resultNavControls li:hover a .icon {
	background-position-x: 0px !important;
}

/* Content. Study */
#study {
	border-left: 1px solid var(--color-gray) !important;
	background: var(--bg-color-gray) !important;
}

#study .navigationTabs {
	border-bottom: 1px solid var(--color-gray) !important;
	background: var(--bg-color-gray) !important;
}

#study .tabItem:hover,
#study .tabItem.active {
	background: var(--bg-color-light) !important;
}

#study .section,
#study .extract {
	background: var(--bg-color-gray) !important;
}

#study .results {
	border: 1px solid var(--color-dark) !important;
}

#study .results .content,
#study .results .content p {
	background: var(--bg-color-light) !important;
	color: var(--color-light) !important
}

#study .marginalExpander {
	background: var(--bg-color-gray) !important;
}

#study .marginalExpander .marginal.title {
	color: var(--color-blue) !important;
}

/* Content. Tooltip publication */
.tooltip,
.tooltipListItem,
.publicationCitation,
.tooltipHeader,
.bibleCitation,
.tooltipText {
	background: var(--bg-color-gray) !important;
	color: var(--color-light) !important
}

.tooltipHeader {
	background: var(--bg-color-dark) !important;
}

/* Content. Articles */
p.qu {
	color: var(--color-gray) !important
}

/* Footer */
#contentFooterLegal {
	background: var(--bg-color-dark) !important;
	color: var(--color-light) !important
}

/* Other items */
.spin button,
.selectionListFilterText,
.grayButton {
	background: var(--bg-color-dark) !important;
	color: var(--color-gray) !important;
	border-color: var(--color-gray) !important;
}

.spin button:hover,
.selectionListFilterText:hover,
.grayButton:hover {
	background: var(--bg-color-gray) !important;
	color: var(--color-light) !important;
	border-color: var(--color-gray) !important;
}

.librarySelection .language {
	color: var(--color-light) !important;
}

.librarySelection li a:hover {
	background: var(--bg-color-dark) !important;
}

#menuSynchronizeControls #linkSynchronize .label {
	background: var(--bg-color-light) !important;
	padding-top: 0px !important;
}

#menuSynchronizeControls,
.bannerSync,
.synchronizeBackgroundColor {
	color: var(--bg-color-dark) !important;
	background: var(--bg-color-blue) !important;
	border: none;
	overflow: hidden;
}

/* ------- */